body{
    background-color: #6a46bc;
}

.p
{
    background-color: #6a46bc;
    border: 1px solid white;
    color: white;
}

.ini
{
    height: 50px;
    background-color: #dcd4ee;
    
}

.btn #btn span
{
    padding-left: 2px;
    color: #b1b5b8;
    font-size: 15px;
}

#btn .fa
{
    width: 35px;
    height: 35px;
    font-size: 15px;
    margin-left: 15px;
    border-radius: 25%;
    padding-left: 9px;
    color: #474747;
    padding-top: 10px;
    background-color:#151515;
}

#btn
{
    width: 100%;
}

#btn .fas
{
    width: 35px;
    height: 35px;
    font-size: 15px;
    margin-left: 15px;
    border-radius: 25%;
    padding-left: 12px;
    color: #474747;
    padding-top: 10px;
    background-color:#151515;
}

#btn span
{
    margin-left: 15px;
}

.li
{
    list-style-type: none;
}

.img
{
    margin-top: "50px";
}

.uli
{
    list-style-type: none;
    float: left;
}

.main
{
    background-color: #c2b0e9;
    height: px;
    border: 1px solid white;
}

.grid-layouts
{
    border: 1px solid red;
    margin-top: 10px;
}

.bg
{
    background-color: #dcd4ee;
    padding:10px;
    border: 1px solid white;
}


.ma
{
    background-color: #dcd4ee;
    padding:10px;
    height: 300px;
    border: 1px solid white;
    
}

.mmm
{
    margin: auto;
    align-content: center;
    align-items: center;
}

